.App {
  text-align: center;
}

.Title {
  color: white;
  background-color: blue;
  padding: 10px;
  text-align: center;
}

.Notification {
  color: green;
  background-color: lightgrey;
  outline-color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.ErrorMessage {
  color: red;
  background-color: lightgrey;
  outline-color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
